.DS_Store
*.log*
.vagrant/
logs/
jenkins_home/.java/fonts/
jenkins_home/.ssh/
jenkins_home/identity.key.enc
jenkins_home/secrets/
jenkins_home/queue.xml
jenkins_home/queue.xml.bak
jenkins_home/prod_private_key
jenkins_home/stage_private_key
builds/
**/lastStable
**/lastSuccessful
**/nextBuildNumber
