.DS_Store
*.log*
.vagrant/
logs/
jenkins_home/.java/fonts/
jenkins_home/identity.key.enc
jenkins_home/secrets/
jenkins_home/queue.xml
jenkins_home/queue.xml.bak
builds/
**/lastStable
**/lastSuccessful
**/nextBuildNumber
