<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Tests running an ssh command on the Solr hosts using the credentials.</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>ssh -i ~/stage_private_key -o StrictHostKeyChecking=no vagrant@10.0.0.11 &apos;sudo hostname ; sudo ifconfig&apos;
ssh -i ~/prod_private_key -o StrictHostKeyChecking=no vagrant@10.0.0.12 &apos;sudo hostname ; sudo ifconfig&apos;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>